*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.in{
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
#input{
    width: 70%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: 1px solid white;
}


#add{
  width: 100px;
  padding: 5px;
  background-color: navy;
}

#add1{
  color: white;
  text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: rgb(135, 135, 223);
    color: white;
  }
  th{
    color: navy;
  }
  
  /* td:nth-child(odd) {
    background-color:lightcyan
  } */

  .infor{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.info{
  width: 50%;
  height: 600px;
  background-color:brown;
  display:flex ;
  /* justify-content: center; */
  flex-direction: column;
  gap: 50px;
  align-items: center;
  color: bisque;
  padding: 30px;
}
.info h1{
  font-size: 40px;
}
.info1{
  width: 100%;

}
.info1 h5{
  font-size: 22px;
}
  
#btn1 {
  width: 100px;
  background-color: bisque;
  padding: 10px;
  margin-top: 50px;

}
#b{
  text-decoration: none;
  color: brown;
  font-size: 20px;
}
.edit{
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  padding: 100px 0;
  height: 100vh;
}
#save{
  width: 100px;
  background-color:darkcyan;
  color: white;
  padding: 5px;
}

#edit , #delete{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: navy;
  color: white;
  
}
#edit a{
  text-decoration: none;
  color: white;
}
#n{
  text-decoration: none;
  color: white;
  
}

input{
  width: 100%;
  padding: 5px;
}
#new{
  width: 100%;
  background-color: navy;
padding: 5px 0;
color: white;
cursor: pointer;
}
.xana{
  width: 30%;
  /* background-color: rgb(243, 231, 231); */
  height: 50px;
  display:  flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#geri{
  width: 100px;
  padding: 5px;
  background-color: navy;
  color: white;
 
}
#geri a{
  color: White;
  font-size: 20px;
  text-decoration: none;
}